body {
    background-color: lightblue;
    font-size: 25px; 

}

.wrapper {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    border-radius: 40px;
    opacity: .8;
    background-color: rgb(59, 57, 180);

}

h1 {
    color: black;
    font-size: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
    
}

h2 {
    color: rgb(11, 46, 2);

}

ul li {
    display: inline;
    text-align: center;
    font-size: 30px;

}